@import "header/create.css";
@import "header/search.css";
@import "header/show.css";


.header-container {
    display: flex;
    background: #ffffff;
}

input {
    outline: none;
}

::placeholder {
    color: #999999;
}