.create {
    width: 33.33%;
    padding: 20px 0 20px 0;
    margin: 10px;
    background: #fafafa;
}

.create__user-form {
    display: flex;
    flex-direction: column;
    width: 320px;
    margin: auto;
}

.create-user {
    box-sizing: border-box;
    border: none;
    height: 35px;
    border-radius: 4px;
    background: rgb(240, 235, 233);
    font-size: 16px;
    padding: 0 15px 0 15px;
    margin: 0 0 10px 0;
    color: #4c4d4f;
}

.create-user:hover {
    background: #cfcfcf;
}

.create-user__submit {
    height: 35px;
    border-radius: 4px;
    outline: none;
    background: #dfdfdf;
    border: 1px solid #b6b6b6;
    font-size: 15px;
    letter-spacing: 2px;
    color: #4c4d4f;
}

.create-user__submit:hover {
    background: rgb(238, 238, 238);
}

.create-user__submit:active {
    background: rgb(199, 199, 199);
}
