.create {
    width: 33.33%;
    padding: 20px 0 20px 0;
}

.create__user-form {
    display: flex;
    flex-direction: column;
    width: 320px;
    margin: auto;
}

.create-user {
    box-sizing: border-box;
    border: none;
    height: 35px;
    border-radius: 16px;
    background: #2b7a78;
    font-size: 16px;
    padding-left: 15px;
    margin: 0 0 10px 0;
    color: #feffff;
    font-family: 'font85c05d10b3053bdd5f020fb145c92694';
}

.create-user__submit {
    height: 35px;
    border-radius: 16px;
    outline: none;
    background: #def2f1;
    border: 1px solid #379683;
    font-size: 16px;
    color: #17252a;
    font-family: 'font85c05d10b3053bdd5f020fb145c92694';
}

.create-user__submit:hover {
    background: #9cfcc1;
}

.create-user__submit:active {
    background: #379683;
}
